@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
  background: url("https://static.vecteezy.com/system/resources/previews/004/847/742/non_2x/a-lakeside-walkway-with-beautiful-mountain-scenery-in-the-background-in-anime-style-vector.jpg");
}